### Real Estate Price Prediction

In [15]:
# importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('dark_background')

In [16]:
# importing data

df_fl = pd.read_csv('florida_homes.csv')
df_id = pd.read_csv('idaho_homes.csv')
df_vi = pd.read_csv('virginia homes.csv')

#### Data Exploration

In [17]:
df_fl.head()

,type,sub_type,text,status,year_built,year_renovated,soldOn,lot_sqft,sqft,stories,baths,baths_full_calc,beds,garage,listPrice,url
0,single_family,NaN,Charming Brick Home in Sought-After Wedgefield...,for_sale,1990.0,NaN,1990-11-01,10454.0,2507.0,2.0,3.0,2.0,3.0,2.0,450000.0,https://www.realtor.com/realestateandhomes-det...
1,single_family,NaN,Welcome to this beautifully refreshed 3-bedroo...,for_sale,1978.0,NaN,2003-08-29,87120.0,1145.0,1.0,2.0,2.0,3.0,NaN,235000.0,https://www.realtor.com/realestateandhomes-det...
2,single_family,NaN,Charming home is situated in the highly sought...,for_sale,2006.0,NaN,2017-06-21,7405.0,1319.0,1.0,2.0,2.0,2.0,1.0,154900.0,https://www.realtor.com/realestateandhomes-det...
3,single_family,NaN,"Foreclosure Auction Ends June 24, 2025 at 11:0...",for_sale,1962.0,NaN,2014-09-03,NaN,2633.0,1.0,2.0,2.0,4.0,2.0,200000.0,https://www.realtor.com/realestateandhomes-det...
4,single_family,NaN,"Nestled on 2 acres in the heart of San Mateo, ...",for_sale,1889.0,NaN,2016-09-16,87120.0,4624.0,3.0,9.0,6.0,7.0,2.0,399000.0,https://www.realtor.com/realestateandhomes-det...

In [18]:
df_fl.shape

(6572, 16)

In [19]:
df_fl.columns

Index(['type', 'sub_type', 'text', 'status', 'year_built', 'year_renovated',
       'soldOn', 'lot_sqft', 'sqft', 'stories', 'baths', 'baths_full_calc',
       'beds', 'garage', 'listPrice', 'url'],
      dtype='object')

In [20]:
df_fl.isnull().sum()

type                  0
sub_type           5713
text                 14
status                0
year_built          907
year_renovated     6572
soldOn             2154
lot_sqft           1189
sqft                482
stories             905
baths               254
baths_full_calc     440
beds                435
garage             1569
listPrice             9
url                   0
dtype: int64

In [21]:
df_id.head()

,type,sub_type,text,status,year_built,year_renovated,soldOn,lot_sqft,stories,baths,baths_full,baths_full_calc,beds,garage,listPrice,url
0,single_family,NaN,Although the home is likely a tear-down due to...,for_sale,1993.0,NaN,NaN,49223.0,1.0,3.0,3.0,3.0,3.0,2.0,324900.0,https://www.realtor.com/realestateandhomes-det...
1,single_family,NaN,Nestled on 2.25 serene acres just 45 minutes f...,for_sale,1996.0,NaN,2018-10-31,98010.0,2.0,5.0,2.0,2.0,4.0,2.0,575000.0,https://www.realtor.com/realestateandhomes-det...
2,single_family,NaN,Secret Garden on Bonners Ferry's S Hill- Quain...,for_sale,1903.0,NaN,2015-08-14,6098.0,2.0,1.0,1.0,1.0,2.0,1.0,325000.0,https://www.realtor.com/realestateandhomes-det...
3,single_family,NaN,Alpine Model is available in 4 elevations; mod...,ready_to_build,NaN,NaN,NaN,NaN,1.0,NaN,2.0,2.0,4.0,2.0,475000.0,https://www.realtor.com/realestateandhomes-det...
4,single_family,NaN,"Craftsman single level home with shop, guest a...",for_sale,2008.0,NaN,2003-10-02,101930.0,1.0,2.0,2.0,2.0,2.0,2.0,769000.0,https://www.realtor.com/realestateandhomes-det...

In [22]:
df_id.shape

(6573, 16)

In [23]:
df_id.columns

Index(['type', 'sub_type', 'text', 'status', 'year_built', 'year_renovated',
       'soldOn', 'lot_sqft', 'stories', 'baths', 'baths_full',
       'baths_full_calc', 'beds', 'garage', 'listPrice', 'url'],
      dtype='object')

In [24]:
df_id.isnull().sum()

type                  0
sub_type           6365
text                 31
status                0
year_built          917
year_renovated     6573
soldOn             3399
lot_sqft            279
stories            1314
baths                86
baths_full          736
baths_full_calc     723
beds                701
garage             1603
listPrice             1
url                   0
dtype: int64

In [25]:
df_vi.head()

,type,sub_type,text,status,year_built,year_renovated,soldOn,lot_sqft,sqft,stories,baths,baths_full,baths_full_calc,beds,garage_max,listPrice,garage_min,garage_type,url
0,single_family,NaN,"Welcome to this one-owner, brick split-level h...",for_sale,1987.0,NaN,NaN,27007.0,2237.0,3.0,3.0,2.0,2.0,3.0,NaN,299900.0,NaN,NaN,https://www.realtor.com/realestateandhomes-det...
1,single_family,NaN,Nestled in the lovely English Forest neighborh...,for_sale,1970.0,NaN,2013-09-19,10890.0,2504.0,1.0,2.0,2.0,2.0,3.0,NaN,249900.0,NaN,NaN,https://www.realtor.com/realestateandhomes-det...
2,single_family,NaN,Welcome home to this beautifully updated 3-bed...,for_sale,1988.0,NaN,NaN,217800.0,2441.0,1.0,2.0,2.0,2.0,3.0,NaN,377000.0,NaN,NaN,https://www.realtor.com/realestateandhomes-det...
3,single_family,NaN,ESTATE AUCTION!!!! AUCTION!!!! AUCTION!!!! Cas...,for_sale,1978.0,NaN,NaN,479160.0,2425.0,2.0,5.0,4.0,4.0,3.0,NaN,350000.0,NaN,NaN,https://www.realtor.com/realestateandhomes-det...
4,single_family,NaN,"One-of-a-kind artisan-style 3 bed, 3 bath home...",for_sale,2000.0,NaN,2023-08-28,78844.0,2208.0,1.0,3.0,3.0,3.0,3.0,NaN,349900.0,NaN,NaN,https://www.realtor.com/realestateandhomes-det...

In [26]:
df_vi.shape

(6307, 19)

In [27]:
df_vi.columns

Index(['type', 'sub_type', 'text', 'status', 'year_built', 'year_renovated',
       'soldOn', 'lot_sqft', 'sqft', 'stories', 'baths', 'baths_full',
       'baths_full_calc', 'beds', 'garage_max', 'listPrice', 'garage_min',
       'garage_type', 'url'],
      dtype='object')

In [28]:
df_vi.isnull().sum()

type                  2
sub_type           5686
text                 65
status                0
year_built          770
year_renovated     6307
soldOn             2440
lot_sqft            674
sqft                640
stories            1161
baths                86
baths_full          643
baths_full_calc     643
beds                584
garage_max         6307
listPrice            18
garage_min         6307
garage_type        6307
url                   0
dtype: int64

#### Data Preprocessing